/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
    color:white;
    text-align:center;
}

section{
    padding:70px 20px;
}

.hero h1{
    font-size:55px;
    color:#ff4da6;
}

.hero h2{
    font-size:35px;
    margin-bottom:15px;
}

.date{
    font-size:22px;
    margin:20px 0;
}

.hero img{
    width:260px;
    height:320px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #ff4da6;
    box-shadow:0 0 25px #ff4da6;
    margin:25px 0;
}

.message,
.letter p,
.final p{
    max-width:700px;
    margin:auto;
    line-height:35px;
    font-size:20px;
}

button{
    margin-top:25px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#ff4da6;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    background:#ff1f8f;
}

.gallery h2,
.song h2,
.cake h2,
.letter h2{
    color:#ff66c4;
    margin-bottom:25px;
}

.gallery-box{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.gallery-box img{
    width:220px;
    height:280px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #ff4da6;
    box-shadow:0 0 20px #ff4da6;
    transition:.5s;
}

.gallery-box img:hover{
    transform:scale(1.08);
}

.cake-emoji{
    font-size:120px;
    animation:float 3s infinite;
}

.final h1{
    color:#ff66c4;
    font-size:55px;
    margin-bottom:20px;
}

footer{
    margin-top:50px;
    padding:25px;
    background:#111;
    color:white;
}

#loading{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.loader{
    width:80px;
    height:80px;
    border:8px solid white;
    border-top:8px solid #ff4da6;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:20px 0;
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes float{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0px);
    }
}
#fireworks{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    z-index:-1;
}
.popup{
display:none;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,.8);
z-index:999;
}

.popup-content{
background:white;
color:black;
width:80%;
max-width:500px;
padding:30px;
margin:8% auto;
border-radius:20px;
text-align:center;
animation:zoom .5s;
}

.close{
float:right;
font-size:35px;
cursor:pointer;
}

.love-btn{
background:#ff1493;
padding:15px 30px;
border:none;
border-radius:30px;
color:white;
font-size:20px;
cursor:pointer;
}

@keyframes zoom{
from{transform:scale(.5);}
to{transform:scale(1);}
}
